<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='js/game.js') }}" defer></script>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/game.css') }}">
    <meta charset="UTF-8">
    <title>Game</title>
</head>
<body>

 {% for player in players %}
    <p id="player{{ loop.index }}">Player</p>
 {% endfor %}

<script>
    var centerX = window.innerWidth/2;
    var centerY = window.innerHeight/2;
    var radius = window.innerHeight/3;

    offsetX = centerX - radius/2;
    offsetY = centerY - radius/2;

    middleCard = document.createElement("img");
    middleCardsrc = "static/img/cards/null.png";
    middleCard.style.left = offsetX - 10 + "px";
    middleCard.style.top = offsetY - 30 + "px";
    middleCard.className = "image";
    document.body.appendChild(middleCard);

    middleCardRight = document.createElement("img");
    middleCardRight.src = "static/img/cards/null.png";
    middleCardRight.style.left = offsetX + 110 + "px";
    middleCardRight.style.top = offsetY - 30 + "px";
    middleCardRight.className = "image";
    document.body.appendChild(middleCardRight);

    createCircleOfDivs(8, radius, offsetX, offsetY, "dynamic");
    function createCircleOfDivs(num, radius, offsetX, offsetY, className) {
    var x, y;
    for (var n = 0; n < num; n++) {
         x = radius * Math.cos(n / num * 2 * Math.PI);
         y = radius * Math.sin(n / num * 2 * Math.PI);
         var div = document.createElement("div");
         div.className = className;
         div.style.left = (x + offsetX) + "px";
         div.style.top = (y + offsetY) + "px";
         div.id = "player" + n;
         document.body.appendChild(div);
       }
    }



</script>
</body>
</html>